header {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

.body-content {
    font-weight: 100;
}

.body-content .container {
    margin: 1rem auto;
    width: 80%;
    text-align: center;
}

.body-content #introduction {
    margin: 4rem auto;
}

.body-content #about-me mdl-card__title {
    color: #fff;
    background: url('../images/card-background-stowe.jpg") middle left 100% no-repeat;
}

.body-content #introduction p {
    font-size: 30px;
    margin: 1rem;
}

.body-content #introduction label {
    font-size: 18px;
}

.body-content #introduction img {
    width: 200px;
    height: 200px;
    box-shadow: 0px 1px 3px 2px lightgrey;
}

.body-content #tools img {
    height: 50px;
    width: 50px;
    margin: 0 2rem;
}

.body-content #about > div {
    text-align: left;
}
