* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    list-style-type: none;
}

body {
    background: #ffffff;
}

body a {
    color: #3b3a36;
}

body a:visited {
    color: #999999;
}

body nav {
    height: 5rem;
    width: 100%;
    background: #3b3a36;
    color: #e9ece5;

}

body nav a {
    color: #e9ece5;
}

body nav > * {
    display: inline-block;
}

body nav img {
    float: left;
    width: 5rem;
}

body nav .site-title {
    float: left;
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
}

body nav .social-links {
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin-right: 3rem;
}

body nav .social-links li {
    margin: 1rem;
    font-size: 2rem;
    color: #e9ece5;
}

body nav .social-links li:hover {
    color: #ffffff;
}

body .content-block {
    width: 65%;
    min-height: 10rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 1px solid #cecece;
}

body .content-block p {
    line-height: 1.25rem;
    padding: 1rem 0;
}

body .sidebar-block {
    max-width: 25rem;
    width: 30%;
    border: 1px solid #3b3a36;
    min-height: 15rem;
    float: right;
    box-sizing: border-box;
    padding: 1rem;
    margin-right: 1rem;
}

body .sidebar-block h3 {
    text-align: center;
}

body .sidebar-block ul {
    margin: 1rem;
}

body .sidebar-block ul li {
    list-style-type: disc;
}

body .owl-carousel .item {
    height: 35rem;
}

footer {
    background: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    background: #3b3a36;
    color: #e9ece5;
}

footer .footer-nav {
    font-size: .8rem;
    line-height: 1.5rem;
    display: block;
    margin: auto;
    width: 50%;
}

footer .footer-nav a {
    color: #e9ece5;
    text-decoration: none;
}

h1 {
    display: block;
    font-size: 2rem;
}

h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    display: block;
    font-size: 1rem;
    font-weight: 300;
}