@import './variables.scss';
@import '../node_modules/reset-css/sass/reset';

body {
    background-color: $white;
    color: $text-gray;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: $nav-max-height;
}

a {
    color: $text-gray;
    text-decoration: none;

    &:hover {
        color: $text-gray;
        border-bottom: 2px solid $robin-blue;
    }
}

header {
    font-size: $nav-font-size;
    height: $nav-max-height;
    width: 100%;
    padding: 1rem;
    border-right: $nav-max-height solid $robin-blue;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: $white;

    h1 {
        display: inline;
        font-weight: 700;
    }

    nav {
        display: inline-block;
        position: absolute;
        right: $nav-max-height;
        max-width: 60%;

        li {
            list-style-type: none;
            display: inline;
            padding: 1rem;
        }
    }
}

.card {
    max-width: $content-max-width;
    box-sizing: border-box;
    width: 100%;
    margin: auto;

    .media {
        display: block;
        color: $white;
        width: 100%;
        height: $media-max-height;
        max-width: $content-max-width;
        margin: auto;
        font-size: 80px;
        padding: 2rem;
    }

    .content {
        background-color: $white;
        padding: 3rem 1rem;

        h2 {
            font-size: $section-title-font-size;
            margin-bottom: 2rem;
        }

        p {
            font-size: $section-content-font-size;
            line-height: 2rem;
        }
    }
}

#twitch .media {
    background-color: $twitch-purple;
}

#youtube .media {
    background-color: $youtube-red;
}

#about .media {
    background-color: $clearday-blue;
}

#resume .media {
    background-color: $thundercloud-gray;
}

@media screen and (max-width: $mobile-max-width) {
     .card {
         .media {
             text-align: center;
             padding: 0rem;
             height: $mobile-media-max-height;
         }
     }

     header {
         font-size: $nav-font-size__mobile;
        border-right: none;
     }
}