$white: #ffffff;
$twitch-purple: #6441A4;
$youtube-red: #ff0000;
$text-gray: #21272D;
$robin-blue: #90AACD;

$content-max-width: 1200px;
$media-max-height: 600px;
$mobile-media-max-height: 480px;
$nav-max-height: 3rem;

$nav-font-size: 26px;
$section-title-font-size: 50px;
$section-content-font-size: 24px;

$desktop-max-width: 1200px;
$tablet-max-width: 1060px;
$mobile-max-width: 666px;