.site-title {
	font-family: $base-font-family;
	font-weight: 100;
	display: inline;
}

.about-link {
	float: right;
	color: black;
	font-family: $base-font-family;
	line-height: $base-line-height;
}

header {
	margin: 1em 1.5em;
	
	* {
		text-decoration: none;
	}
}